.DS_Store
node_modules
.env
providers.json
applications.json
*.key

# Ignore static files
static/*

# Predefined default images
!static/default.svg
!static/local.svg
!static/cbs.svg
!static/easydb.svg
!static/github.svg
!static/mediawiki.svg
!static/openidconnect.svg
!static/orcid.svg
!static/stackexchange.svg

# Add .env file for Docker
!docker/.env

# pm2 ecosystem file
ecosystem.config.json
