<%- include('header'); -%>

<!-- Template for / route -->

<p>
  By using this service, you accept that the data you provide us is saved in our database and will be <strong>publicly available</strong>. The following personal data will be saved:
</p>

<ul>
  <li>name</li>
  <li>a unique personal identifier</li>
  <li>IDs, names, usernames, and URIs of connected identities</li>
</ul>

<p>
  Passwords that are provided will only be used for authentication and <strong>not be saved or shared in any way</strong>.
</p>

<p>
  After logging in, you will be able to see all data associated with your user account by clicking on the "My Data" link in the top right. You will also be able to delete your user account which results in the immediate removal of all your data from our database.
</p>

<p>
  The source code of this application can be inspected on <a href="https://github.com/gbv/login-server" target="_blank">GitHub</a>.
</p>

<%- include('footer'); -%>
