    </div>
    <div class="card-footer footer">
      <div>
        <a href="https://www.gbv.de/impressum" target="_blank">Impressum</a>
      </div>
      <div>
        <a href="https://www.gbv.de/datenschutz" target="_blank">Datenschutz</a>
      </div>
      <div>
        <a href="https://github.com/gbv/login-server" target="_blank">Sources</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>
