<%- include('header'); -%>

<!-- Template for /help route -->

<p>
  This service allows to use external identities for <a href="https://en.wikipedia.org/wiki/Single_sign-on">single sign-on</a>. By using this service, you accept that the following data is saved in our database and
  <strong>made available</strong> to <a href="sessions">selected applications</a>:
</p>

<ul>
  <li>name</li>
  <li>a unique personal identifier</li>
  <li>IDs, names, usernames, and URIs of connected identities</li>
</ul>

<p>
  Applications may further store and share the data by their own conditions.
  Passwords are <strong>never saved or shared in any way</strong>.
</p>

<p>
  After logging in, you will be able to see all data associated with your user account by clicking on the "My Data" link
  in the footer. You will also be able to delete your user account which results in the immediate removal of all your data
  from our database. <b>Note</b> that data used in associated applications will <b>not</b> be deleted when deleting your user account.
</p>

<%- include('footer'); -%>
