<%- include('header'); -%>

<!-- Template for /login route -->

<h4>Login via</h4>
<% config.providers.forEach(provider => { %>
  <p>
    <a href="/login/<%= provider.id %>"><%= provider.name %></a>
  </p>
<% }) %>

<%- include('footer'); -%>
