<!-- Template for /login/{provider} route where provider requires authentication using credentials -->
<a href="../../">back</a>
<form method="post" action="">
  <h1>Login via <%= provider.name %></h1>
  Username: <input type="input" name="username" /><br>
  Password: <input type="password" name="password" /><br>
  <input type="submit" value="Login" />
</form>
