<%- include('header'); -%>

<!-- Template for /login/:provider route -->

<p>
  By using this service, you agree that authenticated usernames and identifiers can be made publicly available (see <a href="<%= baseUrl %>help">more information</a>).
</p>

<div class="alert alert-info">
  You will be authenticated with <%= provider.name %> shortly...
</div>

<%- include('footer'); -%>
